* {
  padding: 0px;
  margin: 0px;
}

html, body {
  background: black;
  color: white;
}

body {
  position: absolute;
  top: 0px; bottom: 0px; left: 0px; right: 0px;
  overflow: hidden;
}

.app {
  position: absolute;
  top: 0px; bottom: 0px; left: 0px; right: 0px;
  display: flex;
  flex-flow: column;
}

.header {
  height: 50px;
  background-color: #222;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 30px;
  box-sizing: border-box;
}

.header button.toggle {
  border: 0px;
  padding: 6px 8px;
  background: hsl(0,0%,8%);
  color: white;
  font-weight: bold;
  opacity: 0.8;
  transition: opacity 0.2s;
  margin-right: 10px;
  outline: none !important;
}
.header button.toggle:hover {
  opacity: 1;
}
.header button.toggle[data-on="true"]:after {
  content: ": yes"
}

.main-content {
  display: flex;
  flex: 1;
  min-height: 0;
}

.editor-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: none;
}

.editor-container.show {
  display: block;
}

.editor {
  position: absolute;
  top: 0px; left: 0px; right: 0px; bottom: 0px;
}

.result-view {
  flex: 1;
  background: #444;
  overflow: scroll;
  display: none;
}

.result-view.show {
  display: block;
}


.result-view svg .node > polygon:first-of-type {
  fill: rgb(250,250,250);
}
.result-view svg .node:hover > polygon:first-of-type {
	stroke: hsl(202, 100%, 48%);
}
